---
name: CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  formatting-and-quality:
    name: Formatting and Quality
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Format
        run: nix develop --command treefmt --fail-on-change

      - name: cargo-deny
        run: nix develop --command cargo-deny check

      - name: Clippy
        run: nix develop --command cargo clippy --all-targets -- -D warnings

      - name: Tests
        run: nix develop --command cargo test

      - name: Build
        run: nix develop --command cargo build --all-targets
